@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
   
.navbar {
    display: flex;
    align-items: center; /* Vertically center the content */
    padding-top: 20px;
}

.logo-container {
    margin-right: 20px; /* Adjust this margin as needed */
    max-width: 180px;
}

.navbar2 {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust the gap between menu items as needed */
}

.logo-container {
    margin-right: 20px; /* Adjust this margin as needed */
    max-width: 180px;
}

.navbar2 {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust the gap between menu items as needed */
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .bg-image{
    background-image: url('/Slicing Marketigo/aksen 1 - hero.png'), url('/Slicing Marketigo/aksen 2 - hero.png');
    background-size: cover;
    background-position: center, left; /* Adjust the background position as needed */
  }